@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        
body {
    font-family: 'Manrope', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 95vh;
    text-align: center;
    padding-top: 5vh;
}

h1 {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    margin-top: 1rem;
    font-size: 1rem;
}

p {
    max-width: 70vw;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
}

strong {
    background-color: #000000;
    padding-bottom: 10px;
    padding-top:10px;
    padding-left: 10px;
    padding-right:10px;
}

.collaborate {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 700;
    display: inline; /* Make span inline */
}

.blink {
    color: #ffdd00; /* Bright yellow for visibility */
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    50% { color: #ffdd0055; }
}

.thank-you-message {
    padding-top: 100px;
    width:100%;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 5vw;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
    font-family: inherit;
    align-items: center; /* Center align the form elements */
    justify-content: center;
}

.contact-form input, .contact-form textarea, .contact-form button {
    width: 100%; /* Adjust the width as needed */
    position: relative;
    left:50%;
    transform: translateX(-50%);
    padding: 5%;
    margin-bottom: 10%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: inherit;
}

.contact-form button {
    padding: 10px 15px;
    background-color: #c8c8c8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-form button:hover {
    background-color: #7a7a7a;
}